<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>소속사</th>
                <th>팀이름</th>
                <th>역할</th>
                <th>멤버수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team : ${teamDTOList}">
                <td th:text="${team.companyName}"></td>
                <td th:text="${team.name}"></td>
                <td th:text="${team.task}"></td>
                <td th:text="${team.memberCount}"></td>
                <td>
                    <a href="#" th:href="@{/team/memberManage/{teamId} (teamId=${team.id})}"
                       class="btn btn-primary" role="button">멤버관리</a>
                    <a href="#" th:href="@{/team/teamManage/{teamId} (teamId=${team.id})}"
                       class="btn btn-primary" role="button">팀 관리</a>
                    <a href="#" th:href="@{/team/delete/{teamId} (teamId=${team.id})}"
                       class="btn btn-primary" role="button">팀 해체</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>